<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="url" value="www.css3test.com" />-->
    <add key="url" value="www.html5test.com"/>
  </appSettings>
  <log4net>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="Logs\Log-"/>
      <param name="appendToFile" value="true"/>
      <param name="maximumFileSize" value="10MB"/>
      <param name="maxSizeRollBackups" value="100"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] - %date - %level%newline%message%newline%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFile"/>
    </root>
  </log4net>
</configuration>
